.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
md-toolbar{
    width: 200px;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
}
.vbtn{
    float: right;
    /*position: absolute;*/
    margin-left: 470px;
    
}
img{
  width: 1300px;
  height: 250px;
  margin-left: 15px;
  cursor: pointer;
}
h2{
  text-align: center;
}
h1{
  text-align: center;
  text-decoration: underline;
   cursor: pointer;
}
md-card{
  margin-top: 5px;
  margin-bottom: 12px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
table{

     border-collapse: separate;
    border-spacing: 0 10px;
  
}
td{
    width: 700px;
    height: 25px;
    border: 3px double rgb(63,81,181);
    text-align: center;
    /*font-size: 20px;*/
    cursor: pointer;
    
}
#restd{
  background-color: grey;
  
}
tr{
  padding-bottom: 5px;
  padding-top: 5px;
  
}
button{
     background-color: rgb(225,228,244);
  color: rgb(63,81,181);
    font-weight: bold;
}
.sbtn{
  /*margin-left: 800px;*/
  float: right;
}
.mdSlot{
  margin-top: 30px;
}


  