<md-card *ngFor='let booking of userBookingsArray ;let i=index'>
  <md-card-title>Bookings</md-card-title>
  <md-card-subtitle></md-card-subtitle>
  <md-card-content><b>
    Date: {{booking.Dates}}<br>
    Time: {{booking.Time}}<br>
    EndTime: {{booking.EndTime}}<br>
    Hours: {{booking.Hours}}<br>
    slotNum: {{booking.slotNum}}<br>
    </b>
    </md-card-content>
  <md-card-actions> 
    <button md-raised-button (click)='cancelBooking(i)' >Cancel</button>
  </md-card-actions>
</md-card>


<!--<button md-raised-button (click)='this.AS.toShowBookings()'>View</button>-->