

<md-card *ngFor='let user of allUsersArray  ;let i=index'>
  <!--<md-card-title>Bookings</md-card-title>-->
  <md-card-subtitle></md-card-subtitle>
  <md-card-content>
    <b>Name:</b>{{user.name}}<br>  
    </md-card-content>
  <md-card-actions> 
    <button md-raised-button (click)='viewFB(user.uid)'>View Feedback</button>
  </md-card-actions>
</md-card>

<md-card>
  <ul>
    <li *ngFor='let fb of feedbacksArray'>{{fb.feedback}}</li>
  </ul>
  <form  [formGroup]="feebackForm" (ngSubmit)="onSubmit(feebackForm.value)">
  <table class="example-full-width" cellspacing="0"><tr>
    <tr><td><md-input-container class="example-full-width">
      <input mdInput placeholder="Your Feedback" formControlName="feedback"> 
    </md-input-container></td>
    <br>
    </tr>
    <!--<tr>
    <td><md-input-container class="example-full-width" >
      <input mdInput placeholder="Slots" formControlName="from">
    </md-input-container></td>
  </tr>-->
  </table>
    <button md-raised-button [disabled]='!feebackForm.valid'>Send</button>
</form>

</md-card>

