
<form class="example-form"  [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm.value)">
  <md-card>
    
   <md-card-title><h3>SignIn</h3></md-card-title>
    <md-input-container  class="example-full-width" > 
      <input mdInput type="email" placeholder="Email" formControlName="email">
    </md-input-container>
    <br>  
     <md-input-container  class="example-full-width" >
      <input mdInput type="password" placeholder="Password" formControlName="password">
    </md-input-container>
    <br>
    <button class='btn' md-raised-button [disabled]='!signInForm.valid'  routerLink=".">SignIn</button>
</md-card>
  
  </form>


